# MySQL
MYSQL_DATABASE=posture_system
MYSQL_USER=posture
MYSQL_PASSWORD=posture123
MYSQL_ROOT_PASSWORD=root123
MYSQL_PORT=3306

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Python ML API
PYTHON_API_PORT=5001

# Spring Boot
SPRINGBOOT_PORT=5000
